<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Szklarnia</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel=“stylesheet” type=“text/css” href=“style.css” />
</head>

<body> irr1: {{irrigation | json}} <br> <code>irr2: {{irrigation2 | json}}</code> <br>irr3: {{irrigation3 | json}}
    <mat-card>
        <mat-card-title>Nawadnianie szklarni</mat-card-title>
        <mat-card-content>
            <pre style="width: 600px"> {{test }}</pre>
            <mat-card-subtitle>Wybierz {{sliderValue}}% nawodnienia</mat-card-subtitle> 
            <mat-slider (input)="onInputChange($event)" color="primary" thumbLabel  min="1" max="100"></mat-slider>
            <mat-card-subtitle>Aktualne nawodnienie: {{value}}%</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-progress-bar value="{{value}}"></mat-progress-bar>
            <br><br>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)='startTimer()'>Rozpocznij nawadnianie</button>
            
                <button mat-raised-button color="accent" (click)='pauseTimer()'>Pauza</button>
                <button mat-raised-button color="warn" (click)='jeb()'>kurwa</button>

            </mat-card-actions>

            <br>
        </mat-card-content>

    </mat-card>
</body>

</html>