<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Szklarnia</title>
    <link rel=“stylesheet” type=“text/css” href=“style.css” />
</head>

<body>
    <mat-tab-group>
        <mat-tab label="Nawadnianie pomidorów">
            <mat-card>
                <mat-card-title>Nawadnianie</mat-card-title>
                <mat-card-content>
                    <div *ngIf="isMatSubtitleVisible">
                        <mat-card-subtitle>Wymagane nawodnienie dodatkowe: +{{defuzzyficatedValue - 1}}%
                        </mat-card-subtitle>
                    </div>
                    <mat-card-subtitle>Wilgotność gleby: {{sliderValue -1}}%</mat-card-subtitle>
                    <mat-slider style="width: 300px;" [disabled]="isSliderDisabled" (input)="onInputChange($event)" (click)="click()" color="primary"
                        thumbLabel min="1" max="100"></mat-slider>
                    <mat-card-subtitle>Aktualne nawodnienie: {{value -1}}%</mat-card-subtitle>
                    <mat-divider></mat-divider>
                    <mat-progress-bar value="{{value}}"></mat-progress-bar>
                    <br><br>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" [disabled]="isStartButtonDisabled"
                            (click)='startTimer()'>Rozpocznij nawadnianie</button>
                        <button mat-raised-button color="accent" (click)='pauseTimer()'>Reset</button>
                    </mat-card-actions>
                    <br>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="Bibliografia">
            <mat-card>
                <mat-card-title>
                    <a href="http://aslowik.weii.tu.koszalin.pl/wp/studia-stacjonarne-inzynierskie/"
                        target="_blank">ASLOWIK WEII:
                        http://aslowik.weii.tu.koszalin.pl/wp/studia-stacjonarne-inzynierskie/</a>
                </mat-card-title>
                <mat-card-title>
                    <a href="https://www.agrofakt.pl/nawadnianie-pomidorow-zrodlo-zdrowia/" target="_blank">AGROFAKT:
                        https://www.agrofakt.pl/nawadnianie-pomidorow-zrodlo-zdrowia/</a>
                </mat-card-title>
                <mat-card-title>
                    <a href="https://hortinet.pl/wymagania-klimatyczne-i-glebowe-do-uprawy-pomidora-gruntowego/"
                        target="_blank">HORTINET:
                        https://hortinet.pl/wymagania-klimatyczne-i-glebowe-do-uprawy-pomidora-gruntowego/</a>
                </mat-card-title>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</body>

</html>